node_modules
dist
.claude
.rembg-env/
scratch/
scratch_*
*.zip
src/assets/1.2_new.mp4
src/assets/1.5_new.mp4
src/assets/1.2_patterns in number.mp4
public/patterns_video.mp4


src/maths/class6/visualize.mp4
